@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 100% 20%;

    --card: 0 0% 100%;
    --card-foreground: 210 100% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 20%;

    --primary: 210 100% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 145 63% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 210 13% 50%;

    --accent: 50 100% 47%;
    --accent-foreground: 210 100% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 30% 90%;
    --input: 210 30% 90%;
    --ring: 145 63% 49%;

    --radius: 0.75rem;

    --pale-blue: 210 100% 91%;
    --success: 145 63% 49%;
    --gold: 50 100% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
